.btn,.btn-primary{
    border-color:  rgb(37, 194, 37);
    background-color: rgb(37, 194, 37);
} 
.btn:hover,.btn-primary:hover {
    border-color:  rgb(0, 136, 0);
    background-color: rgb(0, 136, 0);
}
.progress-bar{
    background-color: rgb(37, 194, 37);
}
.progress{
    margin: 5px;
}
img{
    margin: 5px;
    height: 180px;
}
.card-body{
    text-align: center;
}
nav{
    color: green;
}
.card{ 
    height: 250px;
    border-radius: 10px;
}
