:root {
    --nature: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
}


.container {
    margin: 0 4.5vw;
}

h1 {
    font-family: var(--Abel);
    font-size: 2.5rem;
}

.site-content {
    display: grid;
    grid-template-columns: 100%;
}

.post-content {
    width: 70%;
}

.post-image,
.post-title {
    padding: 1rem 2rem;
    position: relative;
}

.post-image .post-info {
    background: var(--nature);
    padding: 0.8rem 2rem;
    position: absolute;
    bottom: 0%;
    left: 40%;
    border-radius: 1.8rem;
}

.post-image>div {
    overflow: hidden;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.1)
}

.img {
    width: 100%;
    transition: all 1s ease;
}

.img:hover {
    transform: scale(1.3);
}

.site-content span {
    margin: 0.5rem;
}


a.project-title {
    font-family: var(--Anton);
    color: black;
    font-size: 1.6rem;
}

.post-btn {
    border: none;
    border-radius: 0rem;
    padding: 0.7rem 1.2rem;
    background: #72f183;
    font-size: 1rem;
}

.post-btn:hover {
    background: transparent;
    padding: 0.6rem 1.1rem;
    border: 2px solid rgb(39, 39, 39);
    color: rgb(39, 39, 39);
    cursor: pointer;
}

.hr {
    border-width: 1px;
    margin: 3rem 6rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.btnAll {
    display: block;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1.2rem;
    margin-left: 78%;
    transition: all 1s ease;
}

.btnAll:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.ReadMore:hover {
    cursor: pointer;
}



@media only screen and (max-width: 1130px) {
    .site-content .post-content>.post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }
}

@media only screen and (max-width: 890px) {
    main .site-content {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 520px) {
    .site-content .post-content>.post-image .post-info {
        display: none;
    }
}