:root {
    --nature: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    --midnight: #104f55;
}

.container {
    margin: 0 4.5vw;
    width: 100%;
}
.imgTop
{  
        height: 250px;
        width:100%;
}  

.blog {
    width: 100%;
    height: 1200px;
}
.blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

.blog-title {
    margin-bottom: 20px;
    padding:20px;
}


.btn-blog {
    padding: .5rem 2rem;
    border: none;
    background: var(--nature);
    margin: 8%;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px gray;
}

.btn-blog:hover {
    cursor: pointer;
}



.progress {
    margin: 1.5rem;
    height: 1.2rem;
    background-color: #b4b8bd;
    border-radius: 20px;
}

.progress-done {
    height: 100%;
    background: linear-gradient(90deg, #58b401d3 0%,
            #9dad06 100%);
    border-radius: 20px;
    color: white;
    box-shadow: 8 3px -5px;
}


#PRG1 {
    width: 93%;
}

#PRG2 {
    width: 81%;
}

#PRG3 {
    width: 70%;
}

#PRG4 {
    width: 66%;
}

#PRG5 {
    width: 64%;
}

main .blog-content span {
    display: block;
    text-align: right;
    margin-top: 0.2rem;
    font-size: 0.8rem;
}





/* ------------------------Navigation---------------------- */
section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    color: green;
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-'] {
    outline: none;
}





@media only screen and (max-width: 520px) {
    main .blog {
        height: 125vh;
    }
} 